@import './ColourScheme.scss';

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex-grow: 1;
}

html {
    background-color: black;
}

button {
    /* Clear the usual button styles */
    box-sizing: border-box;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background-color: $green;
    color:white;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    border-radius: 0.2em;
    outline: none;

    /* Add some flair */
    position: relative;
    padding: 1em;
    -webkit-transition-duration: 0.4s; /* for safari */
    transition-duration: 0.4s; /* must be some library to transform regular css3 to browser-compat css? todo */
    text-decoration: none;
    overflow: hidden;
}

button:hover {
    background-color: $greenHighlight;
}

button:active {
    border: none;
}
  
button:after {
    content: "";
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: all ease 0.4s;
    border-radius: 0.5em;
}

button:active:after {
    padding-top: 100%;
    padding-left: 200%;
    margin-top: -50%;
    margin-left: -100%;
    opacity: 1;
    transition: 0s;
    border-radius: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}