#header {
  display: flex;
  justify-content: space-between;
  padding: 0.3em;
  padding-left: 3%;
  background-color: #9e352b;
  border-bottom: 1px solid black;
  font-family: "Yusei Magic", sans-serif;
}
#header > span {
  display: flex;
}
#header > span > img {
  width: 2em;
  margin: 1em;
}

/*# sourceMappingURL=Header.module.css.map */
