@import '../../ColourScheme.scss';

#header {
    display: flex;
    justify-content: space-between;
    padding: 0.3em;
    padding-left: 3%;
    background-color: $deepRed;
    border-bottom: 1px solid black;
    font-family: 'Yusei Magic', sans-serif;

    > span {
        display: flex;

        > img {
            width: 2em;
            margin: 1em;
        }
    }
}