/* 
    Original size is 1200x600. Let's pick a width, say 24px. Then the background
    is 24x12. Then each sign is 3x3. Upscaling by 800% brings us to 24x24 for each
    sign, which is the final size of the image. 

*/
.sign {
  background: url("../../images/sign-spritesheet.png") no-repeat;
  width: 24px;
  height: 24px;
  background-size: 800%;
}

.bigSign {
  background: url("../../images/sign-spritesheet.png") no-repeat;
  width: 48px;
  height: 48px;
  background-size: 800%;
}

.translateOutput {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  background-color: #9e352b;
  width: 100%;
}

/*# sourceMappingURL=SignTextbox.module.css.map */
