.menuList {
  list-style-type: none;
  position: absolute;
  background-color: #6a9875;
  visibility: hidden;
}

.menuList li {
  padding: 0.5em;
  /* We put border on individual items because the container(UL) might have 1px gaps due to pixel rounding */
  border: 1px solid black;
  border-top: none;
}

.menuList li:hover {
  cursor: pointer;
  background-color: #97cea4;
}

.dropdown {
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.visible {
  visibility: visible;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* icon */
.profile > span {
  position: relative;
  left: -10px;
  padding: 0.4em;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #6a9875;
}

.profile:hover, .profile.active {
  color: white;
  cursor: pointer;
}

/* username */
.profile > p {
  background-color: #6a9875;
  padding: 0.15em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid black;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

/*# sourceMappingURL=DropdownMenu.module.css.map */
