@import '../../ColourScheme.scss';

#profile {
    height: 100%;
    background-color: $lightRed;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em;
    margin-bottom: 1em;

    > div {
        background-color: $deepBrown;
        border-radius: 1em;
        overflow: hidden;
        border: 1px solid black;
    }

    h4 {
        font-family: 'Yusei Magic', 'Roboto', sans-serif;
        margin-top: 1em;
        border-bottom: 3px solid black;
        margin-bottom: 1em;
        padding: 0.5em;
        font-size: 120%;
    }

    h4.noTranslations {
        text-align: center;
        background-color: $deepBrown;
        font-family: 'Roboto', sans-serif;
        border: 1px solid black;
        -webkit-box-shadow: 4px 4px 15px -2px #000000; 
        box-shadow: 4px 4px 15px -2px #000000;
    }

    header > span {
        margin-right: 1em;
        display: flex;
        justify-content: flex-end;
    }

    button {
        margin-left: 1em;
    }
}

.options {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;

    .uiButton {
        margin-top: 0.5em;
    }
}

.translatedPair {
    p {
        text-align: center;
    }
    > p {
        text-align: start;
        padding-left: 1em;
        border-bottom: 1px solid $lightBrown;
    }
}

.translatedPair:not(:last-child) {
    padding-bottom: 1em;
}