@import '../../ColourScheme.scss';

#loginContainer {
    display: flex;
    justify-content: center;
    background-color: $lightRed;
    height: 100%;
}




#splash {
    display: flex;
    align-items: center;
    font-family: 'Yusei Magic', sans-serif;

    img {
        width: 30%;
        margin: 2em;
    }

    h3 {
        font-size: 180%;
        margin-bottom: 0.2em;
    }
}

.loginForm {
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    background-color: white;
    overflow: hidden;
    border: 1px solid black;
    -webkit-box-shadow: 1px 2px 7px 2px rgba(0,0,0,0.8); 
    box-shadow: 1px 2px 7px 2px rgba(0,0,0,0.8);

    form {
        background-color: $deepBrown;
    }

    input {
        margin: 1em;
        width: calc(100% - 2em);
        border-radius: 0.7em;
        border: 2px solid rgb(85, 85, 85);
        text-align: center;
        padding: 0.5em;
        background-color: $lightBrown;
        color: black;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: black;
        opacity: 1; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: black;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: black;
    }

    input:focus {
        outline-style: none;
        border: 2px solid black;
    }

    > div {
        border-top: 1px solid black;
        background-color: $green;
    }
}