#loginContainer {
  display: flex;
  justify-content: center;
  background-color: #c14b3e;
  height: 100%;
}

#splash {
  display: flex;
  align-items: center;
  font-family: "Yusei Magic", sans-serif;
}
#splash img {
  width: 30%;
  margin: 2em;
}
#splash h3 {
  font-size: 180%;
  margin-bottom: 0.2em;
}

.loginForm {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  background-color: white;
  overflow: hidden;
  border: 1px solid black;
  -webkit-box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.8);
}
.loginForm form {
  background-color: #8e7265;
}
.loginForm input {
  margin: 1em;
  width: calc(100% - 2em);
  border-radius: 0.7em;
  border: 2px solid #555555;
  text-align: center;
  padding: 0.5em;
  background-color: #aa8275;
  color: black;
}
.loginForm ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1;
  /* Firefox */
}
.loginForm :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}
.loginForm ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}
.loginForm input:focus {
  outline-style: none;
  border: 2px solid black;
}
.loginForm > div {
  border-top: 1px solid black;
  background-color: #6a9875;
}

/*# sourceMappingURL=Login.module.css.map */
