#messageFooter {
    position: fixed;
    display: flex;
    padding: 1em;
    bottom: 0%;
    width: 100%;
    border-top: 2px solid black;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s ease-in-out;

    p {
        margin-left: 15%;
    }

    a {
        margin-right: 15%;
    }

    img {
        height: 20px;
        width: auto;
        margin-left: 1em;
        margin-top: 0.3em;
    }

    img:hover {
        cursor: pointer;
    }
}

.whiteHighlight {
    background-color: rgba(190, 190, 190, 0.829);
}

.error {
    background-color: rgb(204, 123, 123);
}
.info {
    background-color: rgb(113, 153, 206);
}
.friendly {
    background-color: rgb(93, 153, 93);
}