#messageFooter {
  position: fixed;
  display: flex;
  padding: 1em;
  bottom: 0%;
  width: 100%;
  border-top: 2px solid black;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s ease-in-out;
}
#messageFooter p {
  margin-left: 15%;
}
#messageFooter a {
  margin-right: 15%;
}
#messageFooter img {
  height: 20px;
  width: auto;
  margin-left: 1em;
  margin-top: 0.3em;
}
#messageFooter img:hover {
  cursor: pointer;
}

.whiteHighlight {
  background-color: rgba(190, 190, 190, 0.829);
}

.error {
  background-color: #cc7b7b;
}

.info {
  background-color: #7199ce;
}

.friendly {
  background-color: #5d995d;
}

/*# sourceMappingURL=messagefooter.module.css.map */
