@import '../../ColourScheme.scss';

.translateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lightRed;
    height: 100%;
    padding-left: 5em;
    padding-right: 5em;
}

.translateContainer input {
    margin-top: 2em;
    padding: 1em;
    outline: none;
    width: 100%;
}

.translateContainer button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    align-self: flex-end;
}
